
body {
    width: 95%;
    font-size: 18px;
    line-height: 1.5;
}

@media screen and (max-width:1500px) {
    .main {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media screen and (max-width:3000px) {
    .main {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
}

.extra {
    margin-top: 200px;
}

img {
    width: 50%;
}

.accent {
    font-style: italic;
}

.examples {
    display: flex;
    flex-direction: row; /* make main axis horizontal (default value) */
    justify-content: center; /* center items horizontally, in this case */
    align-content: center; /* center items vertically, in this case */
}

    .examples img {
        object-fit: cover;
        width: 20%;
    }

.footer {
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-auto-columns: 50% 50%;
    font-size: 20px;
}

.back {
    grid-column: 1;
    place-self: start;
}

.next {
    grid-column: 2;
    place-self: end;
}
